body {
    background-color: rgb(226, 226, 226);
}
textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
    padding: 20px;
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px #004134;
    font-weight: 700;
    color: #004134;
}
h1 {
    color: #004134;
}
.info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}
.info__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    color: #000;
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    position: relative;
    z-index: 2;
}
.info__body {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #004134;
    padding: 25px 5px 35px 20px;
    width: 250px;
    border-radius: 0 0 18px 0;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}
.info__body:target {
    display: block;
}
.info__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.info__text {
    padding-right: 10px;
    color: #fff;
}
.info__text p {
    margin-bottom: 10px;
}
.info__text p:last-child {
    margin-bottom: 0;
}
